/* Twitch CSS Chat */
/* By David_ca6 */
/* david@ca6.dev */
/* ca6.dev */

/* THIS FILE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND. */

/* comment/remove the demo theme set and uncoment the type of chatbox you want to use */
/* simple customisation like changing color can easily be done, the value are in rgba(red, green, blue, alpha) the range is 0-255 (standard 32 bit color, 8bit/chanel)  */

/* demo purin theme */
:root {--bgColor: rgba(0,0,0,0);--bgImage: url(https://hosting.ca6.dev/stream/chatbox/img/purin1.png);--nameTxtColor: rgba(115, 60, 18, 255);--msgTxtColor: rgba(115, 60, 18, 255);--borderSize: 0px;--borderColor: rgba(115, 60, 18, 255);--msgWidth: fit-content;--msgAnim: slide;}


/* purin A dynamic width theme*/
/*
:root {--bgColor: rgba(0,0,0,0);--bgImage: url(https://hosting.ca6.dev/stream/chatbox/img/purin1.png);--nameTxtColor: rgba(115, 60, 18, 255));--msgTxtColor: rgba(115, 60, 18, 255);--borderSize: 0px;--borderColor: rgba(115, 60, 18, 255));--msgWidth: fit-content;--msgAnim: slide;}
*/
/* purin A static width theme*/
/*
:root {--bgColor: rgba(0,0,0,0);--bgImage: url(https://hosting.ca6.dev/stream/chatbox/img/purin1.png);--nameTxtColor: rgba(115, 60, 18, 255);--msgTxtColor: rgba(115, 60, 18, 255));--borderSize: 0px;--borderColor: rgba(115, 60, 18, 255);--msgWidth: auto;--msgAnim: slide;}
*/

/* purin B dynamic width theme*/
/*
:root {--bgColor: rgba(0,0,0,0);--bgImage: url(https://hosting.ca6.dev/stream/chatbox/img/purin2.png);--nameTxtColor: rgba(115, 60, 18, 255);--msgTxtColor: rgba(115, 60, 18, 255);--borderSize: 0px;--borderColor: rgba(115, 60, 18, 255);--msgWidth: fit-content;--msgAnim: slide;}
*/
/* purin B static width theme*/
/*
:root {--bgColor: rgba(0,0,0,0);--bgImage: url(https://hosting.ca6.dev/stream/chatbox/img/purin2.png);--nameTxtColor: rgba(115, 60, 18, 255);--msgTxtColor: rgba(115, 60, 18, 255);--borderSize: 0px;--borderColor: rgba(115, 60, 18, 255);--msgWidth: auto;--msgAnim: slide;}
*/

/* blue dynamic width theme*/
/*
:root {--bgColor: rgba(168,190,208,255);--bgImage: url();--nameTxtColor: rgba(0, 0, 0, 255);--msgTxtColor: rgba(255, 255, 255, 255);--borderSize: 2px;--borderColor: rgba(0, 0, 0, 255);--msgWidth: fit-content;--msgAnim: slide;}
*/
/* blue static width theme*/
/*
:root {--bgColor: rgba(168,190,208,255);--bgImage: url();--nameTxtColor: rgba(0, 0, 0, 255);--msgTxtColor: rgba(255, 255, 255, 255);--borderSize: 2px;--borderColor: rgba(0, 0, 0, 255);--msgWidth: auto;--msgAnim: slide;}
*/

/* pink dynamic width theme*/
/*
:root {--bgColor: rgba(242, 145, 188, 255);--bgImage: url();--nameTxtColor: rgba(255, 255, 255, 255);--msgTxtColor: rgba(255, 255, 255, 255);--borderSize: 2px;--borderColor: rgba(234, 55, 136, 255);--msgWidth: fit-content;--msgAnim: slide;}
*/
/* pink static width theme*/
/*
:root {--bgColor: rgba(242, 145, 188, 255);--bgImage: url();--nameTxtColor: rgba(255, 255, 255, 255);--msgTxtColor: rgba(255, 255, 255, 255);--borderSize: 2px;--borderColor: rgba(234, 55, 136, 255);--msgWidth: auto;--msgAnim: slide;}
*/

/* green dynamic width theme*/
/*
:root {--bgColor: rgba(73,171,129, 255);--bgImage: url();--nameTxtColor: rgba(255, 255, 255, 255);--msgTxtColor: rgba(255, 255, 255, 255);--borderSize: 2px;--borderColor: rgba(49, 114, 86, 255);--msgWidth: fit-content;--msgAnim: slide;}
*/
/* green static width theme*/
/*
:root {--bgColor: rgba(73,171,129, 255);--bgImage: url();--nameTxtColor: rgba(255, 255, 255, 255);--msgTxtColor: rgba(255, 255, 255, 255);--borderSize: 2px;--borderColor: rgba(49, 114, 86, 255);--msgWidth: auto;--msgAnim: slide;}
*/

/* white-pink dynamic width theme*/
/*
:root {--bgColor: rgba(255, 255, 255, 255);--bgImage: url();--nameTxtColor: rgba(234, 55, 136, 255);--msgTxtColor: rgba(234, 55, 136, 255);--borderSize: 2px;--borderColor: rgba(234, 55, 136, 255);--msgWidth: fit-content;--msgAnim: slide;}
*/
/* white-pink static width theme*/
/*
:root {--bgColor: rgba(255, 255, 255, 255);--bgImage: url();--nameTxtColor: rgba(234, 55, 136, 255);--msgTxtColor: rgba(234, 55, 136, 255);--borderSize: 2px;--borderColor: rgba(234, 55, 136, 255);--msgWidth: auto;--msgAnim: slide;}
*/

/* slide animation */
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* html body */
html {
    font-size: 100% !important;
}
body {
    color: var(--msgTxtColor)!important;
    background: rgba(0,0,0,0) !important;
}

/* top of chat */
.stream-chat-header, .channel-leaderboard {
    display: none!important;
}
    
/*botom of chat*/
div.chat-input {
    display: none!important;
}

/* welcome to live chat */
div.chat-line__status {
    display: none!important;
}

/* sub/resub */
div.user-notice-line--highlighted {
    display: none!important;
}

/* user badge */
img.chat-badge {
    display: inline!important;
    margin-left: 0.25rem!important;
    margin-top: 0.7rem!important;
    margin-bottom: 0.0rem!important;
}

/* user name */
span.chat-author__display-name{
    font-weight: normal!important;
    color: var(--nameTxtColor)!important;
    font-size: 90%!important;
    margin-top: 0.45rem!important;
    margin-left: 0.6rem!important;
    margin-bottom: 0.0rem!important;
    float: left!important;
}

/* message separator : */
span[data-test-selector="chat-message-separator"] {
    display: block!important;
    color: rgba(0,0,0,0)!important;
    margin-top: -2.25rem!important;
}

/* chat message */
span.text-fragment {
    color: var(--msgTxtColor)!important;
    font-size: 110%!important;
    margin-top: 0.0rem!important;
    margin-bottom: 0rem!important;
    margin-left: 0.0rem!important;
    margin-right: 0.0rem!important;
    text-align: left!important;
}

div.fYQDgF {
    display: none!important;
}

/* emote*/
div.chat-line__message--emote-button {
    margin-left: -0.5rem!important;
    margin-right: -0.5rem!important;
}

/* user mention */
span.mention-fragment {
    color: var(--msgTxtColor)!important;
}

/* chat message background */
div.chat-line__message{
    animation: 0.5s ease-out 0s 1 var(--msgAnim);
    margin-left: 0.75rem;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding: 0.2rem 0.5rem;
    background-repeat: no-repeat!important;
    background-position: left top!important;
    background-image: var(--bgImage)!important;
    background-color: var(--bgColor)!important;
    border-radius: 15px!important;
    width: var(--msgWidth)!important;
    border: var(--borderSize) solid var(--borderColor) !important;
}

/* bit image */
span.epuHPX {
    display: inline!important;
}

/* cheer amount */
/*strong.chat-line__message--cheer-amount {
display: none !important;
}*/

div.chat-line__no-background span[data-test-selector="chat-line-message-body"] {
    display: block!important;
    margin-left: 0.6rem!important;
    margin-right: 0.6rem!important;
    padding: 0.2rem 0.5rem;
}

/* timestamp */
span.chat-line__timestamp {
    display: none !important;
}

/* new --- */
div.live-message-separator-line__hr {
    display: none !important;
}
div.iETGeJ {
    display: none !important;
}

/* hype train */
div.community-highlight-stack__scroll-area--disable {
    display: none !important;
}

/* raid */
div.tw-transition {
    display: none !important;
}

/* background */
div.twilight-minimal-root, div.popout-chat-page, section.chat-room {
    background: rgba(0,0,0,0) !important;
}

.stream-chat-header, .channel-leaderboard {
    display: none !important;
}

div.user-notice-line--highlighted {
    display: none !important;
}

div.user-notice-line {
    display: none !important;
}

div.visible {
    display: none !important;
}

div.simplebar-scrollbar {
    display: none !important;
}

div.vertical {
    display: none !important;
}

div.simplebar-track {
    display: none !important;
}
